<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="GatewayServicesPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Manfred\GatewayServicesPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Manfred\GatewayServicesPaymentGateway\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">GatewayServicesPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">GatewayServicesPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="GatewayServicesPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Manfred\GatewayServicesPaymentGateway\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with GatewayServicesPaymentGatewayConfig -->
    <virtualType name="GatewayServicesPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">GatewayServicesPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Manfred\GatewayServicesPaymentGateway\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">GatewayServicesPaymentGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="GatewayServicesPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">GatewayServicesPaymentGatewayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">GatewayServicesPaymentGatewayCaptureCommand</item>
                <item name="void" xsi:type="string">GatewayServicesPaymentGatewayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="GatewayServicesPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">GatewayServicesPaymentGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">GatewayServicesPaymentGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="GatewayServicesPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Manfred\GatewayServicesPaymentGateway\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Manfred\GatewayServicesPaymentGateway\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Manfred\GatewayServicesPaymentGateway\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">GatewayServicesPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="GatewayServicesPaymentGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Manfred\GatewayServicesPaymentGateway\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">GatewayServicesPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="GatewayServicesPaymentGatewayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Manfred\GatewayServicesPaymentGateway\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Manfred\GatewayServicesPaymentGateway\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">GatewayServicesPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="GatewayServicesPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Manfred\GatewayServicesPaymentGateway\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Manfred\GatewayServicesPaymentGateway\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="GatewayServicesPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">GatewayServicesPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="GatewayServicesPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">GatewayServicesPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Manfred\GatewayServicesPaymentGateway\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">GatewayServicesPaymentGatewayConfig</argument>
        </arguments>
    </type>

</config>
